body {
font-family: "News706BT-RomanC",Georgia;
color: #222;
font-size: 100%;
line-height: 1.5;
margin: auto;
text-align: center;
}

.footer {
  margin-top: 20px;
}

form {
  display: inline-block;
}
