// TAGS //
////////////

body {
font-family: "News706BT-RomanC",Georgia;
color: #222;
font-size: 100%;
line-height: 1.5;
margin: auto;
text-align: center;
}

form {
  display: inline-block;
}

table {
  margin: auto;
}

// CLASSES //
////////////

.container {
  margin: auto;
  text-align: center;
}

.footer {
  margin-top: 20px;
}